<!DOCTYPE html>
<html>
  <head>
    <title>DoorsOpen!</title>
  </head>

  <body>
    <h2>LogIn</h2>
		<form method="post">
			<input type="submit" formaction="/instructorLogIn" name="login" value="Login">
			<input type="submit" formaction="/instructorSignUp" name="signup" value="Sign Up">
		</form>
	<h2> Student </h2>
		<form method="post">
			<input type="submit" formaction="/studentLogIn" name="login" value="Login">
			<input type="submit" formaction="/studentSignUp" name="login" value="Sign Up">
		</form>
  </body>
</html>